/node_modules
/public/hot
/public/storage
/resources/images
/public/images
/storage/*.key
/vendor
/old
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
