html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body{margin:0}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}

audio,canvas,progress,video{display:inline-block;vertical-align:baseline}

audio:not([controls]){display:none;height:0}

[hidden],template{display:none}

a{background:transparent}

a:active,a:hover{outline:0}

abbr[title]{border-bottom:1px dotted}

b,strong{font-weight:bold}

dfn{font-style:italic}

h1{font-size:2em;margin:0}
h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
mark{background:#ff0;color:#000}

small{font-size:80%}

sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}

sup{top:-0.5em}

sub{bottom:-0.25em}

img{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    border: 0;
}

svg:not(:root){overflow:hidden}

figure{margin:1em 40px}

hr{box-sizing:content-box;height:0}

pre{overflow:auto}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}

button{
    overflow:visible;
    background: transparent;
    border: none;
    outline: none;
    display: block;
}

button,select{text-transform:none}

button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}

button[disabled],html input[disabled]{cursor:default}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

input{line-height:normal}

input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}

input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}

input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}

legend{border:0;padding:0}

textarea{overflow:auto}

optgroup{font-weight:bold}

table{border-collapse:collapse;border-spacing:0}

td,th{padding:0}

* {
    box-sizing: border-box;
}
html,body{
    background-color: $bgColor;
    height: 100%;
    font-size: 18px;
    color: #fff;
    box-sizing: border-box;
}

body {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

aside {
    max-width: 20%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 18px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 10px 18px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 10px 18px rgba(0, 0, 0, 0.31);
    position: fixed;
    background-color: $bgColor;
    transition: all 0.3s linear;
    @media screen and (max-width: $mediaMedium) {
        max-width: 100%;
        height: 100vh;
        padding: 75px 15px 15px 15px;
        z-index: 100;
        position: absolute;
        left: calc(-100% - 100px);
        &.mobile-show{
            left: 0;
        }
    }
}

main:not([class]) {
    max-width: 80%;
    width: 100%;
    margin-left: auto;
    min-height: 500px;
    @media screen and (max-width: $mediaMedium) {
        max-width: 100%;
        margin-left: 0;
        min-height: 0;
        padding-top: 100px;

    }
}
.container {
    padding: 30px;

    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    @media screen and (max-width: $mediaMedium) {
        padding: 0;
    }
}
a, p, div, th, td, tr, li,ul,span,b,strong {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    @media screen and (max-width: $mediaMobile){
        font-size: 14px;
    }
}
ul, ol {
    padding: 0;
    margin: 0;
}
i{
    margin-right: 10px;
}

.logo {
    margin-bottom: 30px;
    img{
        max-width: 195px;
    }
    @media screen and (max-width: $mediaMedium){
        position: fixed;
        max-width: 100%;
        width: 100%;
        padding: 15px 10px;
        background: $bgColor;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    transition: all 0.3s linear;
    &:hover{
        opacity: .7;
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.31);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.31);
    }
    &.btn-red{
        background-color: #8a2121;
    }
    &.btn-white{
        background-color: #000;
        color: #fff;
    }
    &.btn-disabled{
        opacity: .25;
        pointer-events: none;
    }
    //&.btn-reverse{
    //    background-color: #000;
    //    color: #fff;
    //}
}

.default-form{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__row{
        width: 100%;
        margin-bottom: 30px;
    }
    &__col {
        max-width: 50%;
        width: 100%;
        & + &{
            margin-left: 30px;
            @media screen and (max-width: $mediaMobile) {
                margin-left: 0;
            }
        }
        @media screen and (max-width: $mediaMobile) {
            max-width: 100%;
        }
    }
}

.form-input{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    color: $defaultColorText;
    margin-bottom: 10px;
    &--rel{
        position: relative;
    }
    &--hide{
        display: none;
    }
    label{
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
        color: $defaultColorWhite;
        &.file-label{
            background: $defaultColorWhite;
            color: $defaultColorText;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
    img{
        max-width: 100%;

        object-fit: contain;
        display: block;
        margin-bottom: 20px;
    }
    input{
        border: 2px solid transparent;
        border-radius: 5px;
        max-width: 100%;
        width: 100%;
        height: 45px;
        background: $inputBG;
        padding: 5px 15px;
        &:focus {
            outline: none;
            border: 2px solid $border;
        }
        &[type='checkbox']{
            max-width: 25px;
            height: 25px;
        }
        &[type='date']{
            color: $defaultColorText;
        }
        &[type='file']{
            background: transparent;
            padding-left: 0;
            color: $defaultColorWhite;
            cursor: pointer;
            &:focus{
                border: 2px solid transparent;
            }
        }
        &:disabled, &.disabled{
            background: $inputBGDisabled;
            pointer-events: none;

        }
        &.is-invalid{
            border: 2px solid $warn;
        }
    }
    select{
        background: $inputBG;
        max-width: 100%;
        width: 100%;
        height: 45px;
        cursor: pointer;
        &[multiple]{
            height: 150px;
        }
        &.is-invalid{
            border: 2px solid $warn;
        }
        &:disabled, &.disabled{
            background: $inputBGDisabled;
            pointer-events: none;
        }
        //> option{
        //    cursor: pointer;
        //    background-color: #666;
        //    color: $defaultColorWhite;
        //    &:hover{
        //        background-color: #ccc;
        //    }
        //}
    }
    textarea{
        background: $inputBG;
        max-width: 100%;
        width: 100%;
        height: 100px;
        resize: none;
        &:focus {
            outline: none;
            border: 2px solid $border;
        }
        &.is-invalid{
            border: 2px solid $warn;
        }
        &:disabled, &.disabled{
            background: $inputBGDisabled;
            pointer-events: none;
        }
    }
    button{
        color: $defaultColorWhite;
    }

    &--checkbox{

    }
}

.suggest-list{
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
    padding: 10px 0;
    background: $defaultColorWhite;
    color: $defaultColorText;
    opacity: 0;
    z-index: -1;
    &.show{
        opacity: 1;
        z-index: 1;
    }
    &__item{
        color: $defaultColorText;
        border-bottom: 1px solid $border;
        padding: 5px;
        cursor: pointer;
        &:hover{
            background: #ccc;
        }
        b{
            color: $defaultColorText;

        }
    }
}

.flex-body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: $mediaMobile) {
        flex-direction: column;
    }
    &.flex-no-wrap{
        @media screen and (max-width: $mediaMobile) {
            flex-direction: row;
        }
    }
}
.page-title {
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: $mediaMobile){
        font-size: 30px;
    }
}
.section-title{
    font-size: 24px;
    padding: 15px 0;
    font-weight: 500;
    text-align: center;
    @media screen and (max-width: $mediaMobile){
        font-size: 20px;
    }
}

.session-message{
    max-width: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 2px solid $defaultColorWhite;
    border-radius: 5px;
    &--error{
        border: 2px solid $red;
        color: $red;
    }
}

.operations{
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.31);
    padding: 20px;
    @media screen and (max-width: $mediaMedium){
        overflow-x: auto;
        width: 1400px;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__message{
        margin-bottom: 20px;
    }
    &__grid-titles, &__grid-row{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        gap: 55px;
        text-align: center;
        width: 100%;
        div, h5{
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            &.green{
                background-color: $green;
            }
            &.red{
                background-color: $red;
            }
            &.blue{
                background-color: $blue;
            }
            @media screen and (max-width: $mediaMedium) {
                min-width: 80px;
            }
        }
        h5{
            position: relative;
            &:before{
                content: '';
                width: 191%;
                height: 1px;
                background-color: $defaultColorWhite;
                position: absolute;
                left: 0;
                bottom: -15px;
            }
            &:last-child{
                &:before{
                    width: 100%;
                }
            }
        }
    }
    &__grid-titles{
        padding-bottom: 15px;
        margin-bottom: 10px;
        //border-bottom: 1px solid $defaultColorWhite;
        position: relative;
        //&:before{
        //    content: '';
        //    width: 100%;
        //    height: 1px;
        //    background-color: $defaultColorWhite;
        //    position: absolute;
        //    left: 0;
        //    bottom: 0;
        //    @media screen and (max-width: $mediaMedium){
        //        //width: 1370px;
        //    }
        //}
    }
    &__grid-row{
        margin-bottom: 20px;
    }
    .mini-img{
        max-width: 50px;
    }

    &--expense{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(5,1fr);
        }
    }
    &--encashments{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(6,1fr);
        }
    }
    &--clients{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(8,1fr);
        }
    }
    &--sources{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(3,1fr);
        }
    }
    &--requests{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(9,1fr);
        }
    }
    &--offices{
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(2,1fr);
        }
    }
    &--stats{
        margin-top: 30px;
        .operations__grid-titles, .operations__grid-row{
            grid-template-columns: repeat(5,1fr);
        }
        .operations__grid-row{
            padding-bottom: 30px;
            border-bottom: 2px solid $defaultColorWhite;
        }
    }
}

.actions{
    //gap: 0;
    i{
        margin: 0;
    }
    &__item{
        &--btn{
            border: 1px solid $defaultColorWhite;
            padding: 5px 10px;
            border-radius: 3px;
            height: 40px;
            width: 40px;
            &.green{
                background-color: $green;
            }
            &.red{
                background-color: $red;
            }
            &.blue{
                background-color: $blue;
            }
        }
    }
}
